
 
<!-- First Band (Slider) -->
<p id="notice">
  <%= notice %>
<p>
<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li><img src=
      "http://goo.gl/kGStzX" alt="slide 1"></li>
      <li><img src=
      "http://goo.gl/CpDiIL" alt="slide 2"></li>
      <li><img src=
      "http://goo.gl/t3pA2t" alt="slide 3"></li>
    </ul>
  </div>
</div>
    
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->
 
  <div class="row">
    <div class="large-4 columns">
      <img src="http://goo.gl/szahLr" width="400px" height="400px" />
      <p>“You have not lived today until you have done something for someone who can never repay you.” 
      <div align="center">~ John Bunyan</div>
      </p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://goo.gl/ljvEQ7" width="400px" height="300px" />
      <p>TyTme allows you to purchase items directly for Charitable Orginizations.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://goo.gl/MH69pw" />
      Unless someone like you cares a whole awful lot, nothing is going to get better.  It's not.  
      <div align="center">~ Dr. Seuss</div>
      </p>
    </div>
  
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>