// element.style {
// }
// .orbit-container .orbit-slides-container img {
// display: block;
// max-width: 100%;
// }
// img {
// display: inline-block;
// vertical-align: middle;
// }
// img, object, embed {
// max-width: 100%;
// height: auto;
// }

// html, body {
// font-size: 100%;
// }
// Inherited from html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
// html, body {
// font-size: 100%;
// }

element.style {
zoom: 1;
}
// www.teehanlax.com/media="all"
html, body {
  margin: 0px;
  height: 100%;
  width: 100%
}
// www.teehanlax.com/media="all"
body {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}
//www.teehanlax.com/media="all"
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
margin: 0;
padding: 0;
}
user agent stylesheetbody {
display: block;
margin: 8px;
}

body {
  background-color: #eeeeee;
}
html {
color: #000;
}