// element.style {
// }
// .orbit-container .orbit-slides-container img {
// display: block;
// max-width: 100%;
// }
// img {
// display: inline-block;
// vertical-align: middle;
// }
// img, object, embed {
// max-width: 100%;
// height: auto;
// }

// html, body {
// font-size: 100%;
// }
// Inherited from html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
// html, body {
// font-size: 100%;
// }

element.style {
zoom: 1;
}
// www.teehanlax.com/media="all"
body {
height: 100%;
}
// www.teehanlax.com/media="all"
body {
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}
// www.teehanlax.com/media="all"
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
margin: 0;
padding: 0;
}
user agent stylesheetbody {
display: block;
margin: 8px;
}
Inherited from html.wf-ffmetaserifwebpro-i5-active.wf-ffmetaserifwebpro-i7-active.wf-ffmetaserifwebpro-n5-active.wf-ffmetaserifwebpro-n7-active.wf-kremlinprowebsemiexp-n4-active.wf-pragmaticaweb-n4-active.wf-pragmaticaweb-n7-active.wf-active
// www.teehanlax.com/media="all"
body {
  background: teal;
  color: #126c85;
}
html {
color: #000;
}