element.style {
}
.orbit-container .orbit-slides-container img {
display: block;
max-width: 100%;
}
img {
display: inline-block;
vertical-align: middle;
}
img, object, embed {
max-width: 100%;
height: auto;
}

html, body {
font-size: 100%;
}
Inherited from html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
html, body {
font-size: 100%;
}